<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>AgroExpert</h1>
    <h2>Tu aliado inteligente para un campo más productivo</h2>
    <div id="focus_seccion">
        <h2>Inicio de Sesión</h2>
        <h3>Usuario</h3>
        <input type="text" name="usuario" size="40">
        <h3>Contraseña</h3>
        <input type="password" name="contraseña" size="40">
        <button type="submit">Continuar</button>
    </div>
    <span>Aún no tienes una cuenta? <a href="./sign_In.html">¡Crea tu cuenta aquí!</a></span>
</body>
</html>